/**

  @rows
--------------------------------------------------------

  Rows create a horizontal plane with spacing

-----------------------------------------------------  */

.row {
  display: inline-block;
  font-size: 0;
  > * {
    display: inline-block;
    font-size: 1rem;
    padding-right: .5em;
  }
}