/**

  @icons
---------------------------------------------------------
  _3_elements/icons.scss
--------------------------------------------------------

  Define classes for icons.  First a base class, .icon, and
  then any modifiers.

  Near the end of this partial, we're including symbolset,
  which is a font-icon that we dig.

--------------------------------------------------------- */


/* @icon
--------------------------------------------------------

  Your open and close icons

  Example: Open Icon
  <i class="icon icon--open">&plus;</i>

  Example: Close Icon
  <i class="icon icon--close">&times;</i>

------------------------------------------------------ */


.icon {
  color: inherit;
  display: inline-block;
  font-style: normal;
  vertical-align: middle;
}

.icon--disc {
  font-size: 3em;
  border-radius: 50%;
  line-height: .85;
  width: .85em;
  height: .85em;
  text-align: center;
  background: $color__grey--light;
  color: white;
  opacity: .5;
  &:hover {
    opacity: 1;
  }
}






/* @entypo
--------------------------------------------------------

  http://entypo.com

------------------------------------------------------ */

// Regular
@include embed-font("entypo", "/fonts/entypo");
.entypo {
  font-family: "entypo";
}


// Social
@include embed-font("entypo-social", "/fonts/entypo-social");
.entypo--social {
  font-family: "entypo-social";
}