/**

  @lists
--------------------------------------------------------
  _3_elements/lists.scss
--------------------------------------------------------

  Structure for lists

  Example: Unordered List
  <ul>
    <li>List item here</li>
    <li>List item here</li>
    <li>List item here</li>
    <li>List item here</li>
    <li>
      <ul>
        <li>Nested Item</li>
        <li>Nested Item</li>
        <li>Nested Item</li>
        <li>Nested Item</li>
      </ul>
    </li>
  </ul>

  Example: Ordered List
  <ol>
    <li>List item here</li>
    <li>List item here</li>
    <li>List item here</li>
    <li>List item here</li>
    <li>
      <ol>
        <li>Nested Item</li>
        <li>Nested Item</li>
        <li>Nested Item</li>
        <li>Nested Item</li>
      </ul>
    </li>
  </ol>

  NOTE: This is pretty bare-bones right now, it can be
        improved upon.  For instance, there are no <dl> styles

-------------------------------------------------------- */

ul,
ol {
  @include base-text();
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
}







/* @resume list
--------------------------------------------------------
  Resume list
------------------------------------------------------ */

.list--resume {
  width: auto;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 75%;
  @include bp-at-least($breakpoint__sm) {
    font-size: 100%;
  }
  @include bp-at-least($breakpoint__lg) {
    font-size: 125%;
  }
  li {
    margin-bottom: 1em;
  }
  ul {
    margin-top: 0;
  }
  > li {
    > h2 {
      line-height: (32/16)*.7em;
      font-size: (32/16)*.8em;
      font-weight: $sans__weight--regular;
      margin-top: 1.4em;
    }
  }
  h3 {
    font-size: (18/16)*1em;
    font-weight: $sans__weight--bold;
    letter-spacing: .05em;
    margin-top: (32/16)*.7em;
    small {
      font-size: .85em;
      font-style: italic;
    }
  }
  h4 {
    font-size: 1em;
    letter-spacing: .05em;
    color: $color__grey--dark;
    margin-bottom: .4em;
  }
  li li {
    list-style: disc;
    font-size: .75em;
    letter-spacing: .05em;
    color: $color__grey--dark;
    margin-left: 1em;
    margin-bottom: .25em;
    small {
      font-size: .85em;
      font-style: italic;
    }
  }
}