/**

   @site__header
--------------------------------------------------------
  _5_sections/site__header.scss
--------------------------------------------------------

  site__wide header

------------------------------------------------------ */

.site__header {
  @include clearfix();
  .container {
    position: relative;
  }
  // Reduce overall font sizes
  font-size: 80%;
  @include bp-at-least($breakpoint__lg){
    font-size: 100%;
  }
}





/* @branding
--------------------------------------------------------

  The logo & (optional) wordmark

  This would be setup like this

  <a href="/" class="branding">
    <img src="logo.svg" class="branding__logo" alt="My Company">
    <h1 class="branding__wordmark">My Company</h1>
  </a>

------------------------------------------------------ */

.branding {
  position: relative;
  display: block;
  width: auto;
  margin: (30/16)*1em auto (12/16)*1em;
  text-align: center;

}

.branding__logo {
  width: 20em;
}

.branding__wordmark {
}






/* @site__nav
--------------------------------------------------------

  Main Site Navigation

------------------------------------------------------ */

.site__nav {
  border-bottom: 1px solid $color__grey--medium;
  ul {
    display: block;
    text-align: center;
    li {
      display: inline-block;
      a {
        display: block;
        padding: 0 .5em 1em;
        font-size: 1.125em;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: $color__grey--light;
        opacity: 1;
        &:hover {
          opacity: .5;
        }
      }
    }
    @include bp-at-least($breakpoint__md) {
      position: absolute;
      top: 50%;
      left: 0;
      bottom: 0;
      right: 0;
      -webkit-transform: translateY(-50%);
      display: block;
      width: 100%;
      li:nth-child(1),
      li:nth-child(2) {
        float: left;
      }
      li:nth-child(3),
      li:nth-child(4) {
        float: right;
      }
      li a {
        padding: 1em;
      }
    }
  }
}