/**

  @Button Groups
---------------------------------------------------------

  Ways of grouping buttons together

--------------------------------------------------------- */


/* @button-group
--------------------------------------------------------

  Default group

  Example: Normal button group
  <ul class="btn-group">
    <li><a href="#" class="btn">Button Here</a></li>
    <li><a href="#" class="btn">Button Here</a></li>
    <li><a href="#" class="btn">Button Here</a></li>
    <li><a href="#" class="btn">Button Here</a></li>
  </ul>

------------------------------------------------------ */

.btn-group {

  @include clearfix();
  width: auto;
  display: inline-block;
  li {
    float: left;
  }
}




/* @button-group--full-width
--------------------------------------------------------

  A group buttons that take up the full width

  Example: Button Group, Full Width
  <ul class="btn-group btn-group--full-width">
    <li><a href="#" class="btn btn--block">Button Here</a></li>
    <li><a href="#" class="btn btn--block">Button Here</a></li>
    <li><a href="#" class="btn btn--block">Button Here</a></li>
  </ul>

------------------------------------------------------ */

.btn-group--full-width {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  > li,
  > * {
    display: table-cell;
    float: none;
  }
}




/* @button-group--block
--------------------------------------------------------

  A group buttons that are arranged in a block

  Example: Button Group, Block
  <ul class="btn-group btn-group--block">
    <li><a href="#" class="btn btn--block">Button Here</a></li>
    <li><a href="#" class="btn btn--block">Button Here</a></li>
    <li><a href="#" class="btn btn--block">Button Here</a></li>
  </ul>

------------------------------------------------------ */

.btn-group--block {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  > li {
    display: block;
    float: none;
    padding-bottom: .5em;
    &:last-child {
      padding: 0;
    }
  }
}





/* Have something else to add?
--------------------------------------------------------
  + Add any new modifier classes below
------------------------------------------------------ */




