/**

  @carousel
--------------------------------------------------------

  Carousels use FlexSlider

  We'll add a title to the carousel module too

  There are variations of carousels, there's a small carousel
  and also different color themes

------------------------------------------------------ */

// Flexslider
@import "../../_vendor/flexslider";


.carousel {
  position: relative;
  margin-top: 3.5em;
}

.flex-control-nav.flex-control-paging {
  text-align: center;
  li {
    display: inline-block;
  }
  li a {
    margin: 0 .25em;
    text-indent: 100%;
    display: block;
    height: .5em;
    width: .5em;
    background: $color__grey;
    border-radius: 50%;
    opacity: .5;
    &.flex-active {
      opacity: 1;
    }
  }
}


